<nav class="bg-dv">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="../../../assets/logo.jpeg" alt="Driven Vision">
            </a>

            <ul class="nav nav-pills centradoAltura">
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#servicios">Servicios</a></li>
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#quienesSomos">Quienes
                        somos</a></li>
                <li class="nav-item"><a class="estiloBoton fuente td1" href="#contacto"><b>CONTACTO</b></a></li>
            </ul>
        </header>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-ligth bg-dv" aria-label="Fourth navbar example">
    <div class="container">
        <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="../../../assets/logo.jpeg" alt="Driven Vision">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        </ul>
        <ul class="nav nav-pills centradoAltura">
            <li class="nav-item a"><a class="nav-link estiloOpciones fuente td1" href="#inicio">Inicio</a></li>
            <li class="nav-item a"><a class="nav-link estiloOpciones fuente td1" href="#servicios">Servicios</a></li>
            <li class="nav-item a"><a class="nav-link estiloOpciones fuente td1" href="#blog">Blog</a></li>
            <li class="nav-item a"><a class="nav-link estiloOpciones fuente td1" href="#quienesSomos">Quienes somos</a></li>
            <li class="nav-item"><a class="estiloBoton fuente td1 " href="#contacto"><b>CONTACTO</b></a></li>
            <li class="nav-item d-none d-sm-none"><a class="nav-link estiloOpciones fuente td1" href="#contacto"><b>asdsad</b></a></li>
        </ul>
      </div>
    </div>
  </nav>