<nav class="bg-dv">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <img src="../../../assets/logo.jpeg" alt="Driven Vision">
            </a>

            <ul class="nav nav-pills centradoAltura">
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#servicios">Servicios</a></li>
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link estiloOpciones fuente td1" href="#quienesSomos">Quienes somos</a></li>
                <li class="nav-item"><button class="estiloBoton fuente td1" href="#contacto"><b>CONTACTO</b></button></li>
            </ul>
        </header>
    </div>
</nav>