.altura{
    height: 77px;
}

.centrado{
    text-align: center;
}

.centradoAltura{
    display: flex;
    align-items: center;
}

.bg-dv{
    background-color: #e0f4f2;
}
.f{
    // float:;
}

.fuente{
    font-family: "AcuminVariableConcept";
    font-style: "OpenType";
}
@font-face {
    font-family: "AcuminVariableConcept";
    src: url("../../../font/AcuminVariableConcept.otf");
}