.altura{
    height: 77px;
}

.centrado{
    text-align: center;
}

.centradoAltura{
    display: flex;
    align-items: center;
}

.bg-dv{
    background-color: #e0f4f2;
}

.fuente{
    font-family: "AcuminVariableConcept";
}

@font-face {
    font-family: "AcuminVariableConcept";
    src: url("../../../font/AcuminVariableConcept.otf");
}

.botanity{
    font-family: "Botanity";
    font-style: "Commic Sand";
}
@font-face {
    font-family: "Botanity";
    src: url("../../../font/Botanity.ttf");
}

.estiloBoton{
    background-color: white;
    border-color: #3EB6A6;
    border-width: 3px;
    box-shadow: -7px -7px rgba($color: #b8bdbd, $alpha: 1.0);
    height: 60px;
    text-decoration: none;
    border-style: solid;
}

.estiloBotonSecundario{
    background-color: white;
    border-color: #3EB6A6;
    border-width: 3px;
    height: 60px;
    text-decoration: none;
    border-style: solid;
    color: #8b59a5;
}

.titulo{
    color:#8b59a5;
}

.colorLilaTexto{
    color:#8b59a5;
}

.div1{
    position: absolute; 
    left:50%; 
    top:40px; 
    // background-color: #7E9F8F; 
    opacity: 0.5; 
    height: 250px; 
    width: 50%;
    z-index: 2;
    padding: 80px;
}

.div2{
    position: absolute; 
    left:200px; 
    right: -50px; 
    // background-color: #cf8299; 
    opacity: 0.5; 
    height: 250px; 
    width: 100% -950px;
}


///prueba

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(10px, 1000px);
}

.one{
    grid-column: 2/4;
    grid-row: 1;
    // background-color: #b8bdbd;
    top: 25px;
    z-index: 3;
    padding-right: 30%;
    // height: 200px;
    // width: 200px;
}

.two{
    grid-column: 1/3;
    grid-row: 1/3;
    // background-color: #3EB6A6;
    // height: 200px;
    // width: 200px;
}

.basura{
    background-color: red;
    grid-column: 3/4;
    grid-row: 1/3;
}

.aa{
    display: flex;
    align-items: center;
    justify-content: center;
}