<!-- TODO: Fuente en general se ve distinta xq ?
 https://8font.com/acumin-variable-concept/
Encontre esto -->
<!-- Seccion 1 Inicio -->
<div class="container col-xxl-8 px-4 py-5" id="inicio">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6" data-aos="fade-up">
            <img src="../../../assets/DRIVEN-02.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                loading="lazy">
        </div>
        <div class="col-lg-6" data-aos="fade-down">
            <h1 class="fuente titulo td1">Se Data Driven!</h1>
            <p class="fuente">Lleva a tu empresa al siguiente nivel, tomando decisiones impulsadas
                por datos. Te brindamos herramientas de análisis de datos y reportería para dar soporte a decisiones
                estratégicas que incrementen tus
                resultados.</p>
            <p class="fuente"><strong>Explota tus datos!</strong> Te ayudamos a comprender tu negocio desde
                una perspectiva integral y completa. Un correcto análisis y gestión de
                datos te permitirá tener una visión efectiva de la información para
                escalar tu empresa exponencialmente.</p>
        </div>
    </div>
</div>

<!-- Seccion 2 -->
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col" data-aos="fade-down">
            <h2 class="fs-2 altura centrado fuente titulo">COMPARACIÓN OBJETIVO VS DESEMPEÑO</h2>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-03.svg" class="d-block mx-lg-auto img-fluid centrado a"
                    alt="objetivoVsDesempeño" loading="lazy">
            </div>
            <p class="centrado fuente">Alinea el negocio con tus objetivos a través de la implementación de KPI's</p>
        </div>
        <div class="feature col" data-aos="fade-down">
            <h3 class="fs-2 altura centrado fuente titulo">MONITOREO</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-04.svg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño"
                    loading="lazy">
            </div>
            <p class="centrado fuente">Conoce el rendimiento de tu negocio a través del tiempo</p>
        </div>
        <div class="feature col" data-aos="fade-down">
            <h3 class="fs-2 altura centrado fuente titulo">IDENTIFICA AREAS DE OPORTUNIDAD</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-05.svg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño"
                    loading="lazy">
            </div>
            <p class="centrado fuente">Transformamos datos en información, y la información en conocimiento para
                impulsar tu
                organización</p>
        </div>
    </div>
</div>

<!-- Seccion 3 -->
<!-- TODO: Que este boton haga algo -->
<div class="bg-dv text-secondary px-4 py-5 text-center" id="quienesSomos">
    <div class="py-5">
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 fuente negro">Somos creadores de informes de Business Intelligence y Analytics
                destinados a
                dar
                soporte a decisiones estratégicas. Para que puedas incrementar la productividad, rendimiento y eficacia
                de tus negocios.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn-lg px-4 me-sm-3 fw-bold estiloBotonSecundario" href="#contacto">QUIERO SABER
                    MÁS</a>
            </div>
        </div>
    </div>
</div>

<!-- Seccion 4 -->
<div class="container aa mt-5">
    <div class="row">
        <!-- <div class="col-lg-2"></div> -->
        <div class="col-12 col-lg-12">
            <div class="two d-none d-xl-block">
                <div class="wrapper">
                    <div class="one">
                        <h3 class="fuente titulo td1">Integración</h3>
                        <p class="fuente mt-4">Implementamos soluciones de Data warehousing, cubriendo todos los procesos que
                            van,
                            desde
                            la
                            consolidación de fuentes heterogéneas, hasta la migración de los datos en un repositorio
                            centralizado
                            para
                            explotar la información de manera flexible.
                            Es el punto de partida para lograr un análisis correcto, pudiendo relacionar información de
                            distintas
                            áreas,
                            usuarios, procesos y fuentes de manera centralizada.
                            Una empresa data driven capitaliza sus datos, extrayéndolos de cualquier lugar del
                            ecosistema
                            empresarial de
                            manera segura. La integración de datos permite una vista completa de toda la información que
                            fluye a
                            través
                            de una organización y prepara sus datos para un análisis completo.</p>
                    </div>
                    <div class="two d-none d-xl-block">
                        <img src="../../../assets/gif-driven-final.gif" alt="objetivoVsDesempeño" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 d-block d-xl-none">
            <h3 class="fuente titulo">Integración</h3>
            <p class="fuente lead">Implementamos soluciones de Data warehousing, cubriendo todos los procesos que
                van,
                desde
                la
                consolidación de fuentes heterogéneas, hasta la migración de los datos en un repositorio
                centralizado
                para
                explotar la información de manera flexible.
                Es el punto de partida para lograr un análisis correcto, pudiendo relacionar información de
                distintas
                áreas,
                usuarios, procesos y fuentes de manera centralizada.
                Una empresa data driven capitaliza sus datos, extrayéndolos de cualquier lugar del
                ecosistema
                empresarial de
                manera segura. La integración de datos permite una vista completa de toda la información que
                fluye a
                través
                de una organización y prepara sus datos para un análisis completo.</p>
        </div>
    </div>
</div>

<!-- Seccion 5 -->
<div class="container px-4 py-5 mt-3" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col" data-aos="fade-right">
            <h3 class="fs-2 altura centrado fuente titulo">INTEGRACIÓN Y TRANSPARENCIA</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-07.svg" class="d-block mx-lg-auto img-fluid centrado a"
                    alt="objetivoVsDesempeño" loading="lazy">
            </div>
            <p class="centrado fuente">Nuestra consultoría te ayuda con un escaneo de 360° para darte una visión global
                atravesando múltiples perspectivas de manera sencilla e intuitiva.</p>
        </div>
        <div class="feature col" data-aos="fade-down">
            <h3 class="fs-2 altura centrado fuente titulo">ALMACENAMIENTO CENTRALIZADO</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-08.svg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño"
                    loading="lazy">
            </div>
            <p class="centrado fuente">Unificación de las fuentes bajo una perspectiva única</p>
        </div>
        <div class="feature col" data-aos="fade-left">
            <h3 class="fs-2 altura centrado fuente titulo">NUEVOS PUNTOS DE ENTRADA DE DATOS</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-09.svg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño"
                    loading="lazy">
            </div>
            <p class="centrado fuente">Diseño e implementación de sistemas e infraestructura para recolectar los datos
                generados através de la organización.</p>
        </div>
    </div>
</div>

<!-- Seccion 6 -->

<div class="container col-xxl-8 px-4" id="blog">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/DRIVEN-10.svg" class="d-block mx-lg-auto img-fluid" alt="Usuarios" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="fuente titulo td1">Usuarios</h1>
            <p class="lead fuente">Es el punto de partida para lograr un análisis correcto, pudiendo rela-
                cionar información de distintas áreas, usuarios, procesos y fuentes de
                manera centralizada. Desarrollamos reportes ejecutivos, apuntados a
                personal jerarquico de la organización</p>
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="../../../assets/check.jpeg" alt="check">
                </div>
                <p class="fuente">Sintetiza el rendimiento de la organización</p>
            </div>
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="../../../assets/check.jpeg" alt="check">
                </div>
                <p class="fuente">Variaciones mensuales</p>
            </div>
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="../../../assets/check.jpeg" alt="check">
                </div>
                <p class="fuente">Seguimiento de metas y progreso</p>
            </div>
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="../../../assets/check.jpeg" alt="check">
                </div>
                <p class="fuente">Orientado a resultados totales y resúmenes</p>
            </div>
        </div>
    </div>
</div>

<!-- Seccion 7 -->
<!-- TODO: Que este boton haga algo -->
<div class="bg-dv text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <div class="col-lg-6 mx-auto">
            <h3 class="fs-5 mb-4 fuente negro">Lo que no se mide no se puede mejorar, así de sencillo. En DrivenVision
                sabemos
                la importancia y rol que juegan los datos para la toma estratégica de decisiones.</h3>
            <p class="fs-5 mb-4 fuente colorLilaTexto">¿Quieres convertirte en una empresa data driven? Conoce lo que la
                tecnología puede
                llegar a ofrecer.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#contacto" role="link"
                    class="btn-outline-info btn-lg px-4 me-sm-3 fw-bold fuente estiloBotonSecundario">AGENDAR
                    CITA</a>
            </div>
        </div>
    </div>
</div>

<!-- Seccion 8 -->

<div class="container px-4 py-5" id="servicios">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col" data-aos="flip-up">
            <h3 class="fs-2 altura centrado fuente titulo">SEGURIDAD Y CONFIDENCIALIDAD</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-11.svg" class="d-block mx-lg-auto img-fluid centrado a"
                    alt="objetivoVsDesempeño" loading="lazy">
            </div>
            <p class="centrado fuente">Nos hacemos cargo de la seguridad y confidencialidad de tus datos.</p>
        </div>
        <div class="feature col" data-aos="flip-down">
            <h3 class="fs-2 altura centrado fuente titulo">ACOMPAÑAMIENTO</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-12.svg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño"
                    loading="lazy">
            </div>
            <p class="centrado fuente">Tras la puesta en marcha del proyecto, continuaremos dando soporte y
                mantenimiento para asegurar el correcto funcionamiento del servicio implementado.</p>
        </div>
        <div class="feature col" data-aos="flip-up">
            <h3 class="fs-2 altura centrado fuente titulo">PERSONALIZACIÓN</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/DRIVEN-13.svg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño"
                    loading="lazy">
            </div>
            <p class="centrado fuente">Soluciones diseñadas a medida de los objetivos y estructura de su organización.
            </p>
        </div>
    </div>
</div>