<!-- Seccion 1 Inicio -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/seDataDriven.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Se Data Driven!</h1>
            <p class="lead">Lleva a tu empresa al siguiente nivel, tomando decisiones impulsadas
                por datos. Te brindamos herramientas de análisis de datos y reporte-
                ría para dar soporte a decisiones estratégicas que incrementen tus
                resultados.</p>
            <p class="lead"> <b>Explota tus datos!</b> Te ayudamos a comprender tu negocio desde
                una perspectiva integral y completa. Un correcto análisis y gestión de
                datos te permitirá tener una visión efectiva de la información para
                escalar tu empresa exponencialmente.</p>
        </div>
    </div>
</div>

<!-- Seccion 2 -->

<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 altura centrado">COMPARACIÓN OBJETIVO VS DESEMPEÑO</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/objetivoVsDesempeño.jpg" class="d-block mx-lg-auto img-fluid centrado a"
                    alt="objetivoVsDesempeño" loading="lazy">
            </div>
            <p class="centrado">Alinea el negocio con tus objetivos a través de la implementación de KPI's</p>
        </div>
        <div class="feature col">
            <h3 class="fs-2 altura centrado">MONITOREO</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/objetivoVsDesempeño.jpg" class="d-block mx-lg-auto img-fluid"
                    alt="objetivoVsDesempeño" loading="lazy">
            </div>
            <p class="centrado">Conoce el rendimiento de tu negocio a través del tiempo</p>
        </div>
        <div class="feature col">
            <h3 class="fs-2 altura centrado">IDENTIFICA AREAS DE OPORTUNIDAD</h3>
            <div class="justify-content-center align-items-center fs-2 mb-3">
                <img src="../../../assets/objetivoVsDesempeño.jpg" class="d-block mx-lg-auto img-fluid"
                    alt="objetivoVsDesempeño" loading="lazy">
            </div>
            <p class="centrado">Transformamos datos en información, y la información en conocimiento para impulsar tu
                organización</p>
        </div>
    </div>
</div>

<!-- Seccion 3 -->

<div class="bg-dv text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Somos creadores de informes de Business Intelligence y Analytics destinados a dar
                soporte a decisiones estratégicas. Para que puedas incrementar la productividad, rendimiento y eficacia
                de tus negocios.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">QUIERO SABER MÁS</button>
            </div>
        </div>
    </div>
</div>

<!-- Seccion 4 -->

<img src="../../../assets/integracion.jpeg" class="d-block mx-lg-auto img-fluid" alt="objetivoVsDesempeño" loading="lazy">

<!-- Seccion 5 -->