.altura{
    height: 77px;
}

.centrado{
    text-align: center;
}

.centradoAltura{
    display: flex;
    align-items: center;
}

.bg-dv{
    background-color: #e0f4f2;
}

.fuente{
    font-family: "AcuminVariableConcept";
    font-style: normal;
}
@font-face {
    font-family: "AcuminVariableConcept";
    src: url("../../../font/AcuminVariableConcept.otf");
}

.botanity{
    font-family: "Botanity";
    font-style: "Commic Sand";
}
@font-face {
    font-family: "Botanity";
    src: url("../../../font/Botanity.ttf");
}

.estiloBoton{
    background-color: white;
    border-color: #3EB6A6;
    border-width: 3px;
    box-shadow: -7px -7px rgba($color: #b8bdbd, $alpha: 1.0);
    height: 60px;
    text-decoration: none;
    border-style: solid;
}

.estiloBotonSecundario{
    background-color: white;
    border-color: #3EB6A6;
    border-width: 3px;
    height: 60px;
    text-decoration: none;
    border-style: solid;
    color: #8b59a5;
}

.titulo{
    color:#8b59a5;
}

.colorLilaTexto{
    color:#8b59a5;
}

.div1{
    position: absolute; 
    left:50%; 
    top:40px; 
    // background-color: #7E9F8F; 
    opacity: 0.5; 
    height: 250px; 
    width: 50%;
    z-index: 2;
    padding: 80px;
}

.div2{
    position: absolute; 
    left:200px; 
    right: -50px; 
    // background-color: #cf8299; 
    opacity: 0.5; 
    height: 250px; 
    width: 100% -950px;
}